<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="styles.css" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
  <title>XKCD Browser</title>
</head>

<body>
  <h1 id="title">XKCD Browser</h1>
  <div id="app">   <!-- binding this div to the script -->
	<div v-if="loading">
	  <p>Loading...</p>
	</div>
	<div v-else>
	  <p id="theButtons">
		<button v-on:click="firstComic">First</button>
		<button v-on:click="previousComic">Previous</button>
		<button v-on:click="randomComic">Random</button>
		<button v-on:click="nextComic">Next</button>
		<button v-on:click="lastComic">Last</button>
	  </p>
	  <h2 id="comicTitle">{{current.safe_title}}</h2>
	  <img v-bind:src="current.img" v-bind:alt="current.alt">
	  <p>{{current.alt}}</p>
	   <p id="comicTag"><i>#{{current.num}}, drawn on {{current.day}} {{month}} {{current.year}}</i></p> <!-- i for italisize 
									the current.day gets that data member white the month calls the method-->
	    <star-rating @rating-selected ="setRating"
					 v-bind:increment="0.5"
					 active-color="#F00"
					  v-bind:show-rating="false"
					 ></star-rating>
		<p>Average Rating: {{getRating()}}</p>
		<div id="commentSection">
		  <h3>Add a Comment</h3> 
		  <form v-on:submit.prevent="addComment">
		   <p> <input v-model="addedName" placeholder="Name"></p>
			<textarea v-model="addedComment"></textarea>
			<br />
			<button type="submit">Comment</button>
		  </form>
	   </div>
	   <h3>Comments</h3>
	   <div v-for="comment in comments[number]">
		<hr>
		<p>{{comment.text}}</p>
		<p><i> -- {{comment.author}}</i></p>
		<p><i> -- {{comment.time}}</i></p>
	  </div>
    </div>
	 <p id="theLink" ><a href="https://github.com/byu-cs-260-spring-2019/lab-3-creating-a-vue-xkcd-browser-victoria-skylan">gitHub Link</a></p>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue-star-rating/dist/star-rating.min.js"></script>
  <script src="script.js"></script>
</body>

</html>
